<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Cajoled unit test file | <%= @title %></title>
  <script type="text/javascript">
  window.onerror = function (msg, url, line) {
    url = String(url);
    try {
      console.log(
          url.substring(url.lastIndexOf('/') + 1) + ':' + line + ' ' + msg);
      console.trace();
    } catch (ex) {
      alert(url.substring(url.lastIndexOf('/') + 1) + ':' + line + ' ' + msg);
    }
  };
  </script>

  <script type="text/javascript" src="assets/caja.js"></script>
  <!-- <script type="text/javascript" src="assets/permissive.js"></script> -->
  <script type="text/javascript" src="assets/caja-debugmode.js"></script>
  <script type="text/javascript" src="assets/log-to-console.js"></script>
  <script type="text/javascript" src="assets/unicode.js"></script>
  <script type="text/javascript" src="assets/html4-defs.js"></script>
  <script type="text/javascript" src="assets/css-defs.js"></script>
  <script type="text/javascript" src="assets/html-sanitizer.js"></script>
  <script type="text/javascript" src="assets/html-emitter.js"></script>
  <script type="text/javascript" src="assets/domita.js"></script>

</head>
<body>

  <script type="text/javascript">
    var valijaMaker = undefined;

    (function(){
      var imports = ___.copy(___.sharedImports);
      imports.loader = {
        provide: ___.simpleFunc(function(v) {
          valijaMaker = v;
        })
      };
      ___.grantRead(imports, 'loader');
      ___.grantCall(imports.loader, 'provide');
      ___.getNewModuleHandler().setImports(imports);
    })();
  </script>

  <script type="text/javascript" src="assets/valija-cajoled.js"></script>

  <script type="text/javascript">

  (function () {
    ___.sharedImports.console = {};
    for (var k in { log: 0, warn: 0, info: 0, error: 0, trace: 0,
                    group: 0, groupEnd: 0, time: 0, timeEnd: 0, dir: 0,
                    assert: 0, dirxml: 0, profile: 0, profileEnd: 0 }) {
      ___.sharedImports.console[k] = (function (k, f) {
        return ___.simpleFunc(function () { f.apply(console, arguments); });
      })(k, console[k]);
    }
  })();
  </script>

  <div id="base-test" class="test"></div>

  <script type="text/javascript">
    (function() {
      var imports = ___.copy(___.sharedImports);
  
      attachDocumentStub('-test', { rewrite: function () { return null; } }, imports);
      imports.htmlEmitter___ = new
      HtmlEmitter(document.getElementById('base-test'));
  
      imports.navigator = {};
      imports.navigator.userAgent = "Caja/1.0";
      ___.grantRead(imports.navigator, 'userAgent');
  
      ___.grantRead(imports, 'navigator');
      ___.grantRead(imports.navigator, 'userAgent');
      ___.grantCall(imports.navigator.userAgent, 'toString');
      ___.getNewModuleHandler().setImports(imports);

      imports.valija = valijaMaker(imports);
      ___.grantRead(imports, 'valija');

      imports.valija.document = imports.document;
      imports.valija.window = imports.window;
      imports.valija.navigator = imports.navigator;
      ___.grantRead(imports.valija, 'document');
      ___.grantRead(imports.valija, 'window');
      ___.grantRead(imports.valija, 'navigator');  

      console.log('imports.document = ' + imports.document);
      console.log('imports.window = ' + imports.window);    
      console.log('imports.navigator = ' + imports.navigator);

      console.log('imports.valija.document = ' + imports.valija.document);
      console.log('imports.valija.window = ' + imports.valija.window);    
      console.log('imports.valija.navigator = ' + imports.valija.navigator);
  
      ___.getNewModuleHandler().setImports(imports);
    })();
  </script>

  <script src="<%= @cajoled_gadget %>" type="text/javascript"></script>
  
</body>
</html>
